@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientText {
    background: linear-gradient(90deg, #ff7f50, #1e90ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.gradientText2 {
    background: linear-gradient(90deg, #bcff20, #ff0249);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.css-1abvrni-MuiButtonBase-root-MuiButton-root{
  background-color: #243b8a !important;
}

.css-1588512-MuiButtonBase-root-MuiButton-root{
  color: #5aadff !important;
  font-weight: bold !important;
}

.MuiButtonBase-root{
  font-weight: bold !important;
}